!!!
%head
  = javascript_include_tag :defaults, "jtip.js"
  = stylesheet_link_tag "reset.css","screen.css","text.css","960.css"
  %title TwitDo
%body
  .container_12
    #header
      %h1.grid_5.alpha
        = image_tag('twitdo_logo.gif', :alt => "TwitDo")
      #navigation.grid_4.suffix_1.omega
        %ul
          %li= link_to "home", home_url
          %li= link_to "people", "people"
          %li= link_to "about/faq", about_url
          %li= link_to "get started!", get_started_url, {:class => "last jTip", :id => "get_started", :name => "Getting Started"}
    #content
      = yield
    #footer
      .grid_9.suffix_1
        = copyright_string + " - A "
        %a{:href=>"http://heliumsyndicate.com/"} Helium Syndicate
        conspiracy.
      .clear
      